body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Color de fondo más neutro */
}

.container {
  width: 25%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 10px; /* Bordes redondeados */
}

h1 {
  color: #ffffff; /* Texto blanco */
  text-align: center;
  padding: 20px;
  background-color: #007bff; /* Azul brillante */
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.content {
  padding: 20px;
}

label {
  margin-bottom: 10px;
  display: block;
  color: #555; /* Color del texto del label */
}

input[type="number"] {
  width: 100%; /* Ajustar al tamaño del formulario */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4CAF50; /* Verde para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Botón ocupa todo el ancho */
}

button:hover {
  background-color: #45a049; /* Efecto hover */
}

p {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
