body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 25%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 10px; /* Bordes redondeados */
}

h1 {
    color: #ffffff; /* Texto blanco */
    text-align: center;
    padding: 20px;
    background-color: #007bff; /* Azul brillante */
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

#diceResult {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}