<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry Monsters</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Hungry Monsters</h1>
        <div class="options">
            <label for="height">Altura del tablero:</label>
            <input type="number" id="height" name="height" value="18" min="1" max="50">
            
            <label for="width">Anchura del tablero:</label>
            <input type="number" id="width" name="width" value="32" min="1" max="50">
            
            <label for="num-players">Número de jugadores:</label>
            <input type="number" id="num-players" name="num-players" value="3" min="2" max="26">
            
            <label for="amount-food">Cantidad de comida (%):</label>
            <input type="range" id="amount-food" name="amount-food" value="50" min="0" max="100">
            <div id="food-value" class="range-value">50%</div>
        </div>
        <button id="startBtn">Iniciar juego</button>
        <div id="game-board"></div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>