<!DOCTYPE html>
<html>
<head>
    <title>Rol del dado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Rol del dado</h1>
    <form action="" method="post">
        <label for="num_caras">Número de caras:</label>
        <input type="number" id="num_caras" name="num_caras" value="{{ num_caras }}">
        <button type="submit">Jugar</button>
    </form>
    {% if resultado %}
        <h2>El resultado es: {{ resultado }}</h2>
    {% endif %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>